body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.Login {
  padding: 60px 0;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.Addthread {
  padding: 60px 0;
}

.Addthread form {
  margin: 0 auto;
  max-width: 600px;
}

.Addcomment {
  margin: 0 auto;
  max-width: 600px;
}